table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
.icones-react {
  display: flex;
  justify-content: space-around;
  border-top: none;
  border-left: none;
  padding: 1rem;
}
.forms-produtos {
  display: flex;
  gap: 20px;
  width: 300px;
  padding: 20px;
}

.item {
  display: flex;
  flex-direction: column;

  gap: 20px;
}
.item input {
  padding: 5px;
  width: 40rem;
  outline: none;
}
.button-Adicionar {
  background-color: #62c370;
  width: 100px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
