.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0d1321;
  font-family: "montserrat";
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin: 10px 20px;
}
.logo img {
  width: 75px;
}
.logo h2 {
  color: #fff;
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
  flex: 0.5;
  margin: 0 30px 0 0;
}
.icones {
  display: flex;
  gap: 30px;
}

.menu input {
  padding: 10px;
  width: 150%;
  border: none;
  outline: none;
  border-radius: 18px;
}
.laranja {
  background-color: #ff6f59;
  width: 100vw;
  height: 3vh;
}
