.navBarHome {
  margin: 0;
}
.rowOrageone {
  background-color: #ff6f59;
  height: 23px;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  padding-right: 30px;
}
.logo {
  height: 60px;
  width: 70px;
  margin: 0;
}
.nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.names {
  display: flex;
  align-items: center;
  gap: 30px;
}

.button {
  display: flex;
  align-items: center;
  gap: 25px;
}

