.conatiner {
  background-color: aliceblue;
  margin-top: 3%;
}
.cardsUser {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
.section {
  margin-top: 3%;
}
.imgCategory {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  gap: 15px;
  width: 80%;
}
