.Container-carrinho {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 5rem;
}

.h1Cards {
  margin-bottom: 2rem;
}

.h1Cards h5 {
  font-size: 1.5rem;
}

.produto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container-img {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  background-color: aliceblue;
}

.imgCarrinho {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

.inforCards {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.valor h5 {
  margin: 0;
}

.preco {
  font-size: 1.2rem;
  color: #2d2d2d;
}

.remover {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  width: 50px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.remover:hover {
  background-color: #c0392b;
}

.Pagamento {
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: aliceblue;
}

.Pagamento h5 {
  font-size: 1.5rem;
}

.Pagamento div {
  margin-bottom: 1rem;
}

input[type="radio"] {
  margin-right: 0.5rem;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.input {
  width: 48%;
}

button.confirmar-btn {
  background-color: #62c370;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button.confirmar-btn:hover {
  background-color: hsl(129, 35%, 47%);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-content h2 {
  margin-bottom: 1rem;
}

.popup-content button {
  background-color: #62c370;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.popup-content button:hover {
  background-color: hsl(129, 35%, 47%);
}
