.navBarHome{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.itens1{
    display: flex;
    gap: 30px;
}
.itens2{
    display: flex;
    gap: 30px;   
    align-items: center;
    
}
.logo{
    width: 80px;
    margin: 0;
}
.button1 button{
    background-color: #0d1321;
    color: white;
    padding: 4px;
    width: 90px;
    border: none;
    border-radius: 5px;
}
.carrossel{
    width: 100%;
    background-color: #0d1321;
}
.imgCategoria{
    display: flex;
  justify-content: space-around;
  align-items: center;
}

.traco h1{
    border: solid 5px #0d1321;
}
.img1{
    width: 80%;
}

.secao2{
    display: flex;
    flex-direction: column;
    margin: 40px 0 0 40px;
}
.secao2 img{
width: 20%;
}