/* Container principal do carrossel */
.container {
  max-width: 95vw;
  padding: 0 1rem;
  margin-top: 5rem;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: aliceblue;
}

/* Carrossel com rolagem suave */
.container .carrosel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
}

.container .carrosel::-webkit-scrollbar {
  display: none;
}

/* Itens do carrossel */
.container .carrosel .item {
  margin: 10px;
  padding: 11px;
  min-width: 200px;
  flex: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra */
  background-color: white;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.container .carrosel .item:hover {
  transform: scale(1.05); /* Aumenta levemente ao passar o mouse */
}

/* Estilo da imagem dentro do item */
.container .carrosel .item .image img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.container .botoes {
  position: absolute;
  top: 50%;
  width: 98.5%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.container .botoes button {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.container .botoes button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.image img {
  width: 100%;
  height: auto;
}
