/* .container {
  max-width: 95vw;
  padding: 0 2rem;
  margin-top: 5rem;
}
.container .carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.container .carousel::-webkit-scrollbar {
  display: none;
}
.container .carousel .item {
  background-color: aliceblue;
  margin: 10px;
  padding: 10px;
  flex: none;
}
.cotaicontainerner .carousel .item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .carousel .botoes button {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
 */

  .container {
  margin-top: 70px; /* Adiciona espaço entre o carrossel e a NavBar */
  position: relative;
  width: 100%;
  overflow: hidden;
}


.carrosel {
  display: flex;
  flex-direction: row; /* Garante que os itens fiquem em linha */
  overflow: hidden; /* Oculta a barra de rolagem */
  scroll-behavior: smooth; /* Rolagem suave */
  width: 100%;

}

.item {
  min-width: 200px;
  margin-right: 10px;
}

.image img {
  width: 100%;
  height: auto;
}